html{
    box-sizing: border-box;
}

*,
*::before 
*::after {
    box-sizing: inherit;
}
:root{
    --primary-tex-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2F303A;
    --link-color: #2196F3;
    --item-color: #FFFFFF;
    --button-color: #188CE8;
    --adress-color:rgba(255, 255, 255, 0.6); 
    --solid-header: #ECECEC;
    --work-person:  #F5F4FA;
}
.body{
    font-family: "Roboto", sans-serif;
    color: var(--primary-tex-color);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.link{
    text-decoration: none;
}
h1,
h2,
h3,
p{
    padding: 0;
    margin: 0;
}
img{
    display:block;
    max-width: 100%;
    height: auto;
}
.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    
    /*outline: 2px solid blue*/
}
/*------------------------------LOGO------------*/
.header{
    border-bottom: 1px solid var(--solid-header);
    background-color: var(--item-color);
}
.header-nav{
    display: flex;
    align-items: center;
     width: 100%
}
.main-nav{
    display: flex;
    align-items: center;
}
    
.logo{
    display: flex;
    margin-left: 93px;
    color:var(--link-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    
}

.logo-park{
    color: var(--primary-tex-color);
}
/*------------------------------PAGES------------*/

.site-nav .item{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
}
.site-nav .link{ 
    color: var(--primary-tex-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .item:last-child {
  margin: 0;
}

.site-nav {
  display: flex;
}

.site-nav {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--link-color);
}
.site-nav .current{
    color: var(--link-color);
}   

.site-nav .communication a{
    display: flex;
    
    margin-right: 30px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
}
.site-nav .communication:last-child a {
  margin: 0;
}

.site-nav .contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-nav .communication a {
  display: flex;
  align-items: center;
}

/*------------------------------BISNESS------------*/
.bisness{
    background-color: var(--accent-color);
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 200px;
    padding-bottom: 200px;
}
.overlay{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), 
    url(../images/photobisness1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bisness-title{
    color: var(--item-color);
    margin-top: 0;
    font-weight: 900;
    font-size: 44px;
    margin-bottom: 30px;
}
.button{
    color: var(--item-color);
    background-color: var(--link-color);
    border-radius: 4px;
    padding: 10px 32px;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-list:hover,
.button-list:focus{
background-color:var(--button-color);
}
.portfolio-section{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-bottom: 50px;
}

.button-item{
    color: var(--primary-tex-color);
    font-family: inherit;
    border-radius: 4px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: transparent;
}
.button-link:not(:last-child){
margin-right: 8px;
}
.button-item:hover,
.button-item:focus{
    color: var(--item-color);
    background-color: var(--link-color);
}
/*------------------------------stage Main------------*/
.section-list{
    display: flex; 
    justify-content: center;
}
.section-item:not(:last-child){
    margin-right: 30px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;  
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(50%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}

.icon-delivery-link{
width: 270px;
height: 120px;
border-radius: 4px;
margin-top: 0px;
margin-bottom: 30px;
display: flex;
justify-content: center;
align-items: center;
color: var(--primary-tex-color);
}



.section-item .title{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform:uppercase ;
    margin-top: 0px;
    margin-bottom: 10px;
}
.section-item .text{
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*------------------------------WORK------------*/
.work{
    padding-top: 0px;
}

.works-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icons:not(:last-child){
    margin-right: 30px;
}
.section-work{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
}
.pictures{
    background-color:var(--work-person);
}
.images{
    display: flex;
    flex-wrap: wrap;
}
.icons-person:last-child {
    margin: 0px;
}
.icons-person{
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px
}
.hero-speciality{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.section-work-time{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.hero{
    color: var(--primary-tex-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 10px;
}
.specialty{
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 16px;
}
.masters-soc-list{
    display: flex;
    justify-content: center;

}
.masters-soc-item + .masters-soc-item{
    margin-left: 10px;
}
.masters-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8 ;
}
.masters-soc-icon{
    fill: currentColor;
}

.masters-soc-link:hover,
.masters-soc-link:focus{
background-color: #2196F3;
color: #FFFFFF;
}
/*.masters-soc-link:hover .masters-soc-icon{
    fill: #FFFFFF;
}*/

.section-client{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
}
.client-top-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-top-item +.client-top-item{
    margin-left: 30px;
}
.client-top-link{
    width: 170px;
    height: 92px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    color: #AFB1B8 ;
}
.client-top-icon{
    fill: currentColor;
}

.client-top-link:hover,
.client-top-link:focus{
border: 1px solid #2196F3;
color: #2196F3;
}
/*------------------------------FOOTTER------------*/

.footer{
    background-color: var(--accent-color);
    padding-bottom: 60px;
    padding-top: 60px;
}
.poster{
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 20px;  
}
.logo-page{
    color: var(--item-color);
}

.footer-page .link{
    color: var(--adress-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-page .footer-link{
    color: var(--item-color);
}
.adressa:not(:last-child){
    margin-top: 0px;
    margin-bottom: 9px;
}
.footer-page .link:hover,
.footer-page .link:focus{
    color: var(--item-color);
}
.contact-soc-list{
display: inline-block;
color: var(--item-color);
font-size: 14px;
line-height: 1.14;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 20px;
}
.contact-soc{
    display: flex;
    flex-wrap: wrap;
    align-items: center
}
.contact-soc-link{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--item-color);
    background-color: rgba(255, 255, 255, 0.1);
}
.contact-soc-link:hover,
.contact-soc-link:focus{
  background-color: var(--link-color);
  fill: var(--item-color);
}
.contact-soc-contact{
display: flex;
flex-direction: column;
fill: currentColor;
}

.contact-soc-item {
    margin-right: 10px;
}
.contact-soc-item:last-child {
  margin-right: 0;
}

.address-item {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.information-contact {
  display: flex;
}
/*------------------------------PORTFOLIO------------*/

.features-title{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
.flex-element{
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top:none ;
}
.feature-element{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    display: block;
    width: 370px;
    box-sizing: border-box;
}
.feature-element:nth-child(3n){
    margin-right: 0;
}
.feature-element:nth-last-child(-n+3){
    margin-bottom: 0;
}
.feature-element .name{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 4px;
}

.section .descriptions{
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin-top: 0px;
}