html{
    box-sizing: border-box;
}

*,
*::before 
*::after {
    box-sizing: inherit;
}
:root{
    --primary-tex-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2F303A;
    --link-color: #2196F3;
    --item-color: #FFFFFF;
    --button-color: #188CE8;
    --adress-color:rgba(255, 255, 255, 0.6); 
    --solid-header: #ececec;
    --work-person:  #F5F4FA;
}
.body{
    font-family: "Roboto", sans-serif;
    color: var(--primary-tex-color);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.link{
    text-decoration: none;
}
h1,
h2,
h3,
p{
    padding: 0;
    margin: 0;
}
.img{
    display:block;
    max-width: 100%;
    height: auto;
}
.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    /*outline: 2px solid blue*/
}
/*------------------------------LOGO------------*/
.main-nav{
    display: flex;
}
.header{
    display: flex;
    border-bottom: 1px solid var(--solid-header);
    align-items: center;
}
.logo{
    display: block;
    color:var(--link-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-park{
    color: var(--primary-tex-color);
}
/*------------------------------PAGES------------*/

.site-nav{
    display: flex;
    margin-left: 93px;
   
}

.site-nav .item:not(:last-child){
margin-right: 50px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;


    color: var(--primary-tex-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--link-color);
}
.site-nav .current{
    color: var(--link-color);
}   

/*------------------------------CONTACT------------*/
.contact-type{
    display: flex;
    margin-left: auto;
}

.contact-type .item +.item{
    margin-left: 50px;
}
.contact-type .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;


    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.contact-type .link:hover,
.contact-type .link:focus{
    color: var(--link-color);
}
/*------------------------------BISNESS------------*/
.bisness{
    background-color: var(--accent-color);
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 200px;
    padding-bottom: 200px;
}
.bisness-title{
    color: var(--item-color);
    margin-top: 0;
    font-weight: 900;
    font-size: 44px;
    margin-bottom: 30px;
}
.button{
    color: var(--item-color);
    background-color: var(--link-color);
    border-radius: 4px;
    padding: 10px 32px;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
}

.button-list:hover,
.button-list:focus{
background-color:var(--button-color);
}
.portfolio-section{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-bottom: 50px;
}

.button-item{
    color: var(--primary-tex-color);
    font-family: inherit;
    border-radius: 4px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: transparent;
}
.button-link:not(:last-child){
margin-right: 8px;
}
.button-item:hover,
.button-item:focus{
    color: var(--item-color);
    background-color: var(--link-color);
}
/*------------------------------stage Main------------*/
.section-list{
    display: flex; 
    justify-content: center;
}
.section-item:not(:last-child){
    margin-right: 30px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;  
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect();
    overflow: hidden;
}
.section-item .title{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform:uppercase ;
    margin-top: 0px;
    margin-bottom: 10px;
}
.section-item .text{
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*------------------------------WORK------------*/
.work{
    padding-top: 0px;
}

.works-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icons:not(:last-child){
    margin-right: 30px;
}
.section-work{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
}
.pictures{
    background-color:var(--work-person);
}
.images{
    display: flex;
    flex-wrap: wrap;
}
.icons-person:not(:last-child){
    margin-right: 30px;
}
.hero-speciality{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.section-work-time{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.hero{
    color: var(--primary-tex-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 10px;
}
.specialty{
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 30px;
}
/*------------------------------FOOTTER------------*/

.footer{
    background-color: var(--accent-color);
    padding-bottom: 60px;
    padding-top: 60px;
}
.poster{
  margin-top: 0px;
  margin-bottom: 20px;  
}
.logo-page{
    color: var(--item-color);
}

.footer-page .link{
    color: var(--adress-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-page .footer-link{
    color: var(--item-color);
}
.adressa:not(:last-child){
    margin-top: 0px;
    margin-bottom: 9px;
}
.footer-page .link:hover,
.footer-page .link:focus{
    color: var(--item-color);
}
    
/*------------------------------PORTFOLIO------------*/

.features-title{
    display: flex;
    flex-wrap: wrap;
}
.flex-element{
    padding: 20px 24px;
}
.feature-element{
    display: block;
    width: 370;
    box-sizing: border-box;
}
.feature-element:nth-child(3n){
    margin-right: 0;
}
.feature-element:nth-last-child(-n+3){
    margin-bottom: 0;
}
++
.portfolio .name{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 4px;
}

.section .descriptions{
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin-top: 0px;
}