:root{
    --primary-tex-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2F303A;
    --link-color: #2196F3;
    --item-color: #FFFFFF;
    --button-color: #188CE8;
    --adress-color:rgba(255, 255, 255, 0.6); 
}
.body{
    font-family: "Roboto", sans-serif;
    color: var(--primary-tex-color);
}
ul{
    list-style: none;
}
.link{
    text-decoration: none;
}
/*------------------------------LOGO------------*/

.logo{
    color:var(--link-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-park{
    color: var(--primary-tex-color);
}
/*------------------------------PAGES------------*/

.site-nav .link{
    color: var(--primary-tex-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--link-color);
}
.site-nav .current{
    color: var(--link-color);
}   

/*------------------------------CONTACT------------*/

.contact-type .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-type .link:hover,
.contact-type .link:focus{
    color: var(--link-color);
}
/*------------------------------BISNESS------------*/
.bisness{
    background-color: var(--accent-color);
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}
.bisness-title{
    color: var(--item-color);
    font-weight: 900;
    font-size: 44px;
}
.button{
    color: var(--item-color);
    background-color: var(--link-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button-list:hover,
.button-list:focus{
    background-color:var(--button-color);
}
.button-item{
    color: var(--primary-tex-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.button-item:hover,
.button-item:focus{
    color: var(--item-color);
    background-color: var(--link-color);
}
/*------------------------------stage------------*/

.section-item .title{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform:uppercase ;
}
.section-item .text{
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/*------------------------------WORK------------*/

.section-work{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.hero{
    color: var(--primary-tex-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.specialty{
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
/*------------------------------FOOTTER------------*/

.footer{
    background-color: var(--accent-color);
}
.logo-page{
    color: var(--item-color);
}

.footer-page .link{
    color: var(--adress-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-page .footer-link{
    color: var(--item-color);
}

.footer-page .link:hover,
.footer-page .link:focus{
    color: var(--item-color);
}
    
/*------------------------------PORTFOLIO------------*/


.portfolio .name{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;--------
}

.position .descriptions{
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}