.images{
   
@media screen and (min-width: 768px) {
display: flex;
flex-wrap: wrap;
}
}

.images__item{
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--item-color);
    &:last-child {
    margin: 0px;
    @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    }

    @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
   }
}

.images__box{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.images__title{
    color: var(--primary-tex-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 10px;
}
.images__text{
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 16px;
}
.masters-soc{
    display: flex;
    justify-content: center;

}
.masters-soc-item + .masters-soc-item{
    margin-left: 10px;
}
.masters-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8 ;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus{
background-color: #2196F3;
color: #FFFFFF;
}
}
.masters-soc-icon{
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
