.backdrop{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opaÑity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}
.backdrop.is-hidden.modal{
    transform: translate(-50%, -50%) scale(0.5);
}
.modal{
    position: absolute;
    width: 528px;
    min-height: 581px;
    background-color: var(--item-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal__close-bt{
    position: absolute;
    padding: 0;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--item-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.forma{
    padding: 40px;
}
.forma__text{
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-tex-color);
margin-bottom:12px ;
}
.forma__input{
    width: 100%;
    height: 45px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 41px;
    font: inherit;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
    border: 1px solid var(--link-color);
    }
}


.forma__div{
display: flex;
flex-direction: column;
position:relative;
margin-bottom: 10px; 
& textarea::placeholder {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
    }
}
.forma__icons{
    position:absolute;
    top:50%;
    left: 15px;
    .forma__div:focus-within> & {
    fill: var(--link-color);
    }
}
.comment-label{
    margin-bottom: 20px;    
}
.forma__label{
    display: block;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}

.forma__comment{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    outline: none;
    &:focus {
    border: 1px solid var(--link-color);
    }
}


.forma__check-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .forma__check-text span{
width: 16px;
height: 15px;
border: 2px solid #000000;
border-radius: 3px;
margin-right: 8px;
display: flex;
align-items: center;
justify-content: center;
.forma__checkbox:checked+ &{
background-color: var(--link-color);
border: transparent;
}
}

.forma__policy-link{
    display: flex;
    color:var(--link-color);
    margin-left: 2px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.forma__checkbox:checked + .forma__check-text .forma__check-icon {
    fill: #FFFFFF;
}
.forma__submit-button{
    display: flex;
    color: var(--item-color);
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px;
    min-width: 200px;
    border: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: #188CE8;
        }

}